
body {
  background-color: #0000 !important;
}


.wrap-contact2{
  width: 450px !important;
  border: solid 2.5px ;
  border-color: ;
  padding: 92px 85px 100px 85px !important;
  margin-top: 120px;
}

.contact2-form-title{
  padding-bottom: 20px !important;
}


.contact2-form-btn{
  background: black !important;
}


.container-propio{

  margin-left: 60% !important;

}

footer{
  background-color: black!important;
  margin-top: 476px !important;


}

.bg-dark{
  background-color: #000000!important;
}

.container{
  padding: 80px 100px 0px 100px;
}
.btn-success{
  background: black !important;
  border: 0px;
}

.btn{
  background-color: black !important;
  background: black !important;
  border: black;

}
